@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap);
:root {
  --dark-bg-color: #333;
  --dark-text-color: #f7f5eb;

  --light-bg-color: #f7f5eb;
  --light-text-color: #333;

  --text-color-white: #fff;
  --text-color-subtle: #999;

  --bg-color: #f7f5eb;
  --text-color: #333;
  --inverted-bg-color: #f7f5eb;
  --inverted-text-color: #333;

}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #333;
    --text-color: #f7f5eb;
    --inverted-bg-color: #f7f5eb;
    --inverted-text-color: #333;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  color: var(--text-color);
  background: var(--bg-color);
}

body.dark {
  color: var(--inverted-text-color);
  background: var(--inverted-bg-color);
}